<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="model" default="$(find metalimbs_description)/robot/metalimbs2.urdf.xacro" />
  <arg name="rvizconfig" default="$(find metalimbs_description)/rviz/urdf.rviz" />
  <arg name="use_slider" default="false"/>
  <arg name="sim" default="false"/>
  <arg name="fixed" default="true"/>

  <param name="/use_sim_time" value="$(arg sim)"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

  <node if="$(arg use_slider)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg use_slider)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig) --verbose" required="true" />

</launch>
